@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

body {
  background-color: #010314;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  padding: 20px;
  color: white;
}

.selected {
  outline: 1px solid red;
}

.selection {
  padding: 5px;
  width: fit-content;
}
